numpy>=1.18.3
scipy>=1.4.1
pandas>=0.25.1
scapy>=2.4.4
scikit-learn>=0.21.3
matplotlib>=3.2.1
pytest>=5.3.1
requests>=2.22.0


### install third-part libraries if necessary
#pip3.7 install colorama --user
#pip3.7 install pyod --user # without needing root
#pip3.7 install jinja2 --user
#pip3.7 install xlrd --user
#pip3.7 install memory_profiler --user
#pip3.7 install h5py --user
#pip3.7 install pretty_errors --user
#pip3.7 install group-lasso --user
#pip3.7 install pympler --user
#pip3.7 install xlsxwriter --user
#pip3.7 install scikit-learn==0.22 --user
#pip3.7 install pyod==0.7.7.1 --user
#pip3.7 install tensorflow_gpu==2.0.0 --user
#pip3.7 install tensorboard --user
#pip3.7 install keras --user
#pip3.7 install torch==1.4.0 --user
#pip3.7 install torchvision==0.5.0 --user
#pip3.7 install colorlog==4.1.0 --user
#pip3.7 install colorlog==1.6.1 --user
